<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title></title>
</head>

<body tiles:fragment="content">

<h1>Active Games</h1>
<table class="table-main">
	<tr>
		<th class="table-main">Game Name</th>
		<th class="table-main">Game Start</th>
		<th class="table-main">Game End</th>
		<th class="table-main">Players</th>
	</tr>
	<tr th:if="${games.empty}">
		<td class="table-main">No Active Games</td>
	</tr>
	<tr th:each="game : ${games}">
		<td class="table-main"><a th:text="${game.description}" th:href="@{/nav/gameStatus.html?gameID=} + @{game.id}"></a></td>
		<td th:text="${game.starts}" class="table-main"></td>
		<td th:text="${game.ends}" class="table-main"></td>
		<td th:text="${game.players.size()}" class="table-main"></td>
	</tr>
</table>


</body>
</html>
