<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title></title>
</head>

<body tiles:fragment="content">

<h1>To register with four-strategery click button</h1>
<button onClick="registration()">Register Me</button>


<script type="text/javascript">







function registration() {
	window.location.href = "https://foursquare.com/oauth2/authenticate?client_id=RATASDCULCIANGZIPPTBLCANVBISHWV2POUOTNQYDIJ1WDML\u0026;response_type=code\u0026redirect_uri=https://services-fourstrategery.rhcloud.com/cloud/reg/registrationRedirect.html";
}

</script>
</body>
</html>
