<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<title>Four-Strategery</title>
<link href="@{/css/main.css" rel="stylesheet"></link>
 <link rel="icon" type="image/png" th:src="@{/images/favicon.png}" />
</head>

<body tiles:fragment="header">
<div class="ui-widget-header" width="100%">
<img th:src="@{/images/4Strat.gif}" height="150px"></img>
<img th:src="@{/images/foursquare-logo.png}" height="150px" align="right"></img>
</div>
<div class="stripe" width="100%">&nbsp;</div>

</body>
</html>
