<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head tiles:substituteby="meta">
<title>Four-Strategery</title>
	 <link rel="icon" type="image/png" th:src="@{/images/favicon.png}" />
</head>

<body class="ui-widget">
	<div id="header" tiles:include="header"></div>
	<div class="ui-widget-content">
		<div class="ui-widget-header left-nav">
				<a th:href="@{/nav/home.html}">Player Home </a><br/>
				<a th:href="@{/profile/edit.html}">Profile Edit</a><br/>
				<hr/>
				<a th:href="@{/auth/logout.html}">Logout</a>
		</div>
		<div class="ui-widget-content main-content">
			<div tiles:include="body">
					
			</div>
		</div>
	</div>
</body>
</html>
