<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title></title>
</head>

<body tiles:fragment="content">

<form th:action="@{../j_spring_security_check}" method="post"
							action="#" name="loginform">
<div>
<table>
	<tr><td>Screen Name </td><td><input type="text" name="username"/></td></tr>
	<tr><td>Password </td><td><input type="password" name="password" /></td></tr>
	<tr><td>Remember Me?</td><td><input type="checkbox" name="remember-me" /></td></tr>
</table>
</div>
<input type="submit" name="Login"/>
</form>

</body>
</html>
